{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'scripts/app/src/assets/css/style.css' %}">
    <!-- temporary link -->
    <link rel="stylesheet" href="{% static 'scripts/app/node_modules/@fortawesome/fontawesome-pro/css/all.min.css' %}">
    <title>Portni</title>
    <!-- <link rel="stylesheet" href="../assets/scripts/app/node_modules/@fortawesome/fontawesome-pro/css/all.min.css"> -->
</head>
<body>
    <app-root></app-root>

    <script src="{% static 'scripts/app/dist/app/main.js' %}"></script>
    <script src="{% static 'scripts/app/dist/app/polyfills.js' %}"></script>
    <script src="{% static 'scripts/app/dist/app/runtime.js' %}"></script>
    <script src="{% static 'scripts/app/dist/app/vendor.js' %}"></script>
</body>
</html>