<div class="main-wrapper w-100 pl-lg-5">
    <h1>Forex Market</h1>

    <div class="my-5 py-5">
        <h4 class="text-primary m-0">Currencies</h4>
        <small>39 total currencies pairs</small>
        <div class="table shadow-sm my-3 p-3">
            <div class="table-content">
                <div class="row border-bottom p-2 mx-2">
                    <div class="col-2 font-weight-bold px-0">
                        Pairs
                    </div>
                    <div class="col-1 font-weight-bold px-0 text-center text-center">
                        Last
                    </div>
                    <div class="col-1 font-weight-bold px-0 text-center">
                        Open
                    </div>
                    <div class="col-1 font-weight-bold px-0 text-center">
                        High
                    </div>
                    <div class="col-1 font-weight-bold px-0 text-center">
                        Low
                    </div>
                    <div class="col-2 font-weight-bold px-0 text-center">
                        Chg.
                    </div>
                    <div class="col-2 font-weight-bold px-0 text-center">
                        Chg.%
                    </div>
                    <div class="col-2 font-weight-bold px-0 text-center">
                        Time
                    </div>
                </div>
                <div class="row border-bottom p-2 py-3 mx-2">
                    <div class="col-2 px-0">
                        <span class="h6 text-info">EUD/USD</span>
                    </div>
                    <div class="col-1 px-0 text-center text-center">
                        <span class="h6">1.0043</span>
                    </div>
                    <div class="col-1 px-0 text-center">
                        <span class="h6">1.0043</span>
                    </div>
                    <div class="col-1 px-0 text-center">
                        <span class="h6">1.0043</span>
                    </div>
                    <div class="col-1 px-0 text-center">
                        <span class="h6">1.0043</span>
                    </div>
                    <div class="col-2 px-0 text-center">
                        <span class="h6 text-danger">-0.232</span>                   
                    </div>
                    <div class="col-2 px-0 text-center">
                        <span class="h6 text-danger">-.98%</span>
                    </div>
                    <div class="col-2 px-0 text-center">
                        <span class="h6">14:23:42</span>
                    </div>
                </div>
                <div class="row border-bottom p-2 py-3 mx-2">
                    <div class="col-2 px-0">
                        <span class="h6 text-info">EUD/USD</span>
                    </div>
                    <div class="col-1 px-0 text-center text-center">
                        <span class="h6">1.0043</span>
                    </div>
                    <div class="col-1 px-0 text-center">
                        <span class="h6">1.0043</span>
                    </div>
                    <div class="col-1 px-0 text-center">
                        <span class="h6">1.0043</span>
                    </div>
                    <div class="col-1 px-0 text-center">
                        <span class="h6">1.0043</span>
                    </div>
                    <div class="col-2 px-0 text-center">
                        <span class="h6 text-success">-0.232</span>                   
                    </div>
                    <div class="col-2 px-0 text-center">
                        <span class="h6 text-success">-.98%</span>
                    </div>
                    <div class="col-2 px-0 text-center">
                        <span class="h6">14:23:42</span>
                    </div>
                </div>
                <div class="row border-bottom p-2 py-3 mx-2">
                    <div class="col-2 px-0">
                        <span class="h6 text-info">EUD/USD</span>
                    </div>
                    <div class="col-1 px-0 text-center text-center">
                        <span class="h6">1.0043</span>
                    </div>
                    <div class="col-1 px-0 text-center">
                        <span class="h6">1.0043</span>
                    </div>
                    <div class="col-1 px-0 text-center">
                        <span class="h6">1.0043</span>
                    </div>
                    <div class="col-1 px-0 text-center">
                        <span class="h6">1.0043</span>
                    </div>
                    <div class="col-2 px-0 text-center">
                        <span class="h6 text-danger">-0.232</span>                   
                    </div>
                    <div class="col-2 px-0 text-center">
                        <span class="h6 text-danger">-.98%</span>
                    </div>
                    <div class="col-2 px-0 text-center">
                        <span class="h6">14:23:42</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>