<header>
    <div class="container">
        <nav class="navbar my-4">
            <a class="navbar-brand" href="#">
                <img src="/static/images/PORTNI.svg" alt="logo">
            </a>
            <div ngbDropdown class="dropdown">
                <a href="#" ngbDropdownToggle id="dropdownMenuLink">
                    <span class="text-primary-text mr-2">Xavier Allyster</span>
                    <img class="avatar-md rounded-circle" src="/static/images/collins-lesulie-oPyM5T6a_P0-unsplash.jpg" alt="user profile photo">
                </a>
              
                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
          </nav>
    </div>    
</header>